body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
}

.hexColor {
    text-transform: capitalize;
}

.hex{
    font-size: 3rem;
}

.hexBtn{
    color: #f15025;
    border: 3px solid #f15025;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 1.6rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    outline: none;
    text-transform: capitalize;
}

.hexBtn:hover{
    background-color: rgb(0, 0, 0);
}